/*
 * index.tsx 样式表。
 */

/**
 * MiSans 字体。
 */
@font-face {
  font-family: 'MiSans';
  src: url('./fonts/MiSans-Normal.ttf');
}

body {
  margin: 0;
  font-family: 'MiSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
